{% extends "base.html" %}

{% load static %}

{% block main_content %}

      <!-- Delete Profile Page-->
      <section id="detailsPage">
        <div class="wrapper">
          <div class="profileText">
            <h1>Are you sure you want to delete your profile?</h1>
            <form id="delete" method="POST" action="{% url 'profile_delete' %}">

              <!-- Confirm Button -->
              <button class="delete-profile" type="submit">Delete</button>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </section>

{% endblock %}
